.container-fluid {
    /*max-height: 100vh;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}

.search__ {
    border-radius: 12px;
    border: 1px solid #D1D5DB;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 48px;
}

.search__ input {
    display: flex;
    width: 60%;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border: none;
    color: #000000;
}

.search__ input:focus-visible {
    outline-offset: 0 !important;
    outline: none !important;
}

.search__ input::placeholder {
    color: #ADAEBC;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.filter__ {
    gap: 8px;
    padding: 15px 20px;
}

.filter__ img {
    width: 16px;
    height: 16px;
}

.filter__ .text__ {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__ {
    margin-bottom: 31px;
}

.filters__ {
    background: #FCFCFC;
    gap: 15px;
    margin-bottom: 57px;
    margin-top: 66px;
}

.filter__item {
    display: flex;
    height: 42px;
    padding: 9px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
    border: 1px solid #D1D5DB;
    background: #FFF;
    cursor: pointer;
}

.filter__item object {
    width: 20px;
    height: 16px;
}

.filter__item object svg g g path {
    fill: black !important;
}

.filter__item.active object svg g g path {
    fill: var(--primary-color) !important;
}

.filter__item.active {
    border: 0px solid var(--primary-color) !important;
    background: #DBEAFE !important;
}

.filter__item .text___ {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filter__item.active .text___ {
    color: var(--primary-color);
}

table thead tr th {
    color: #4B5563;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.supplier {
    display: flex;
    gap: 12px;
}

.supplier img {
    border-radius: 9999px;
    border: 0px solid #E5E7EB;
}

.supplier .text__ {
    color: #111827;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.actions__ {
    display: flex;
    gap: 28px;
}

.actions__ img {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__ {
    color: #4B5563;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.prev-btn, .next-btn {
    border-radius: 4px;
    border: 1px solid #D1D5DB;
    background: rgba(0, 0, 0, 0.00);
    display: flex;
    width: 91.359px;
    height: 34px;
    padding: 7px 13.359px 7px 13px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #4B5563;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.pagination .buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pagination .buttons .page-number {
    border-radius: 4px;
    color: #4B5563;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #D1D5DB;
    background: rgba(0, 0, 0, 0.00);
    display: flex;
    width: 35.766px;
    height: 34px;
    padding: 7px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.pagination .buttons .page-number.active {
    border-radius: 4px;
    border: 0px solid #E5E7EB;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page_title {
    margin-bottom: 0 !important;
}

.search_result {
    margin-top: 27px;
    color: #1F2937;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
    margin-bottom: 32px;
}
